main {
  padding-top: 32px;
}

.plan-featured {
  width: 80%;
  margin: 16px 0;
  border: 4px solid #0e4f1f;
  border-left: none;
}

.plan-featured:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

.plan-featured a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

.plan-subtitle {
  font-size: 16px;
  color: #979797;
}
.plan-description {
  border: 1px solid #0e4f1f;
  background: white;
  color: #0e4f1f;
  padding: 16px;
  font-size: 20px;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}
#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;
}
#free:hover {
  border-color: #ff5454;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .plan-title {
  color: white;
}
#premium .plan-subtitle {
  color: #bbb;
}

.plan-featured__highlight,
.plan-featured__highlight:hover {
  background-color: #0e4f1f;
  border-color: #0e4f1f;
}
